{% extends "layout.html" %}

{% block extra_meta %}
  <meta name="description" content="{{ site.description }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.name }}">
  <meta property="og:url" content="{{ site.baseurl }}/">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="/logo.svg">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@yufeiminds">
  <meta name="twitter:creator" content="@yufeiminds">
  <meta name="twitter:domain" content="blog.thxminds.com">
{% endblock %}

{% block container %}
<style>
  .lists {
    padding-top: 2em;
  }
  .entry-content h2 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: sans-serif;
    color: #999;
  }
  .lists time {
    color: #666;
    font-family: monospace;
    font-size: 14px;
  }
</style>
<div class="entry-content lists">

{% filter markdown %}

![RstGen](http://7xkb4l.com1.z0.glb.clouddn.com/logo/rstgen.png "Rst Generator")

{% endfilter %}
</div>

<div class="entry-content">
  {% filter markdown %}

  {% endfilter %}
</div>
{% endblock %}

